events-list {
    .home {
        background:url("https://cdn.pixabay.com/photo/2018/01/16/23/37/sunset-3087145_960_720.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .location{
        // font-size:40px;
        text-align: center
    }

    h1,{
        font-family: 'Anton', sans-serif;
        font-size: 2.5rem;
        color: white
       /* font-family: 'Paytone One', sans-serif; */
    }

    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 1.9rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
    }


    agm-map {
        height: 300px;
       
      }
    .title{
        color: black
    }

    .title h1{
        font-size: 1.1rem;
        
    }

    .t{
        text-align: center;
        padding-top: 10px
    }
    
}
