
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Info</ion-title>
    </ion-navbar>
  </ion-header>




<ion-content padding>

    <ion-card>

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

        <ng-container *ngIf="Eventdata  | async; let items ; else dataAfterValue;" >
            <div *ngFor="let item of items"> 
                <ion-item class="btns">
                      <button ion-button  [disabled]="item.attending"  color="secondary" outline item-start icon-left (click)="updateAttendance(item.$key)" >
                          <ion-icon name="checkmark-circle-outline"></ion-icon> {{item.attending? 'Registered!' : 'Register'}} 
                      </button>

                      <button *ngIf="item.attending" ion-button  color="danger" outline item-start icon-left (click)="cancelAttendance(item.$key)" >
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Cancel
                      </button>

                      <button [disabled]="item.bookmarked" ion-button color="danger" outline item icon-left (click)="bookmark(item.$key)" >
                        <ion-icon name="bookmarks"></ion-icon>{{item.bookmarked? 'Saved!' : 'Save'}} 
                      </button>

                      <button  ion-button  outline item-end icon-left >
                        <ion-icon name="share"></ion-icon> Share
                      </button>
              </ion-item>
          </div>
        </ng-container> 

        <ng-template #dataAfterValue>
            <div  *ngFor="let user of userdata | async">
                <ion-item class="btns">
                  <button ion-button  color="secondary" outline item-start icon-left 
                  
                  (click)="AttendEvent(eventData.EventId, eventData.eventTitle, 
                  eventData.eventStartDate, eventData.eventEndDate,
                  eventData.eventStreet, eventData.eventPostcode   )">

                      <ion-icon name="checkmark-circle-outline"></ion-icon> Register
                  </button>

                  <button ion-button color="danger" outline item icon-left 
                  (click)="bookmarkEvent(eventData.EventId, eventData.eventTitle, 
                  eventData.eventStartDate, eventData.eventEndDate,
                  eventData.eventStreet, eventData.eventPostcode  )" >
                        <ion-icon name="bookmarks"></ion-icon>Save
                  </button>

                  <button  ion-button  outline item-end icon-left >
                    <ion-icon name="share"></ion-icon> Share
                  </button>
              </ion-item>
            </div>
        </ng-template >
        
        <ion-fab right top>
            <button ion-fab>
                <ion-icon name="pin"></ion-icon>
            </button>
        </ion-fab>

      
        <div  class="t"> 
            <h1 class="title">{{eventData.eventTitle}}</h1>
        </div>

      
        <ion-item>
          <ion-icon name="calendar" item-start large></ion-icon>
          <h3><b>Start</b> {{eventData.eventStartDate | date:'medium' }}</h3>
          <h3><b>End</b> {{eventData.eventEndDate | date:'medium' }}</h3>
        </ion-item>
      
        <ion-item>
          <ion-icon name="navigate" item-left large ></ion-icon>
          <h3>{{eventStreet}}</h3>
          <p>{{eventCity}}</p>
          <h3>{{eventData.eventPostcode}}</h3>
        </ion-item>
            
        <ion-card-content>
          {{eventData.eventDescription}}
        </ion-card-content>
      
      </ion-card>

<br>
    <ion-card>
        <div  class="t"> 
            <h1 class="title">Event Content</h1>
        </div>

      <ion-list>
          <ion-item>
              Event Media Content
              <button  ion-button  outline item-end icon-left clear (click)="getEventMedia()" >
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
          </ion-item>

          <ion-item>
              Event Speakers
              <button  ion-button  outline item-end icon-left clear (click)="getEventSpeakers()" >
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
          </ion-item>

          <ion-item>
              Public Attendees
              <button  ion-button  outline item-end icon-left clear (click)="getEventAttendees()">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
          </ion-item>

          <ion-item>
              About the Organiser
              <button  ion-button  outline item-end icon-left clear (click)="getEventOrganiser()">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
          </ion-item>

        </ion-list>
    </ion-card>
      
</ion-content>
