page-event-info {
    .home {
        background:url('../assets/imgs/ld38.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    agm-map {
        height: 200px;
       
      }

      .btns{
          text-align: center
      }

      .title{
        color: black
    }

    .title h1{
        font-size: 1.1rem;
        
    }

    .t{
        text-align: center;
        padding-top: 10px
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 2.5rem;
        color: white
       /* font-family: 'Paytone One', sans-serif; */
      }

      a{
          text-decoration: none;
      }

}   

