page-user-public-profile {
    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 3.5rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
      }

      .t{
        text-align: center;
        padding-top: 10px
    }
    .location{
        // font-size:40px;
        text-align: center
    }
}
