<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab right middle>
        <button ion-fab mini><ion-icon name="share"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

      <ion-card *ngFor="let user of userdata | async">
            <ion-item>
                  <ion-avatar item-start>
                    <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" >
                  </ion-avatar>
                  <h1>{{user.name? user.name : 'User' }}</h1>
                  <p>{{user.email}}</p>
            </ion-item>
            <br>

            <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" >
          
            <ion-card-content>
                <ion-item>
                  <h2><b>Sumary</b></h2> 
                </ion-item>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                <a ion-button [href]="'mailto:'+ user.email"  item-left>
                  Email
                </a>
                <a ion-button [href]="user.website"  item-left>
                  Website 
                </a>
            </ion-card-content>
  
      </ion-card><br>

      <h1 class="location">Files</h1>
          <ion-card *ngFor="let upload of userUploads | async">
            <br>
              <ion-card-header>
                  {{upload.name}}
              </ion-card-header>
              <ion-card-content>
                  <a [href]="upload.url" ion-button small color="primary"  item-end icon-left > 
                      <ion-icon name="download"></ion-icon> Download
                  </a>
              </ion-card-content>
        </ion-card>
</ion-content>


