page-user-registration {
    .center{
        text-align: center
    }

    h1,{
        font-family: 'Anton', sans-serif;
        font-size: 3.5rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
    }

    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 1.9rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
    }
    .styles{
        text-align: center;
    }

}
