page-user-account {

    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 1.5rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
      }

      .t{
        text-align: center;
        padding-top: 10px
    }
    

}
