page-home {


    .home {
        background:url('../assets/imgs/fireworks.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 4.9rem;
        color: white
       /* font-family: 'Paytone One', sans-serif; */
      }

      h2 {
        font-family: 'Anton', sans-serif;
        font-size: 1.9rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
    }
      p{
        font-family: 'Anton', sans-serif;
        font-size: 2.2rem;
        color: white
        
       /* font-family: 'Paytone One', sans-serif; */
      }


    .location{
        // font-size:40px;
        text-align: center
    }

    img {
        max-width: 70%;
       height: auto;
               display: block;
               margin-left: auto;
               margin-right: auto;
               
           }


}
