
<ion-header>
  <ion-navbar>
    <ion-title>My Website</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class="location">Website</h1>
   <div *ngFor="let data of uploads | async">
      <button ion-button small *ngIf="!data.website"   (click)="editWebsite =!editWebsite" >
        <ion-icon name="add"></ion-icon>
      </button><br>

      <button ion-button small  *ngIf="data.website"   (click)="editWebsite =!editWebsite" >
          <ion-icon name="create"></ion-icon>
      </button><br>

      <a ion-button   *ngIf="data.website" [href]="data.website"  item-left>
          {{data.website}}
      </a>

    <br>
      <div *ngIf="editWebsite" >
          <ion-list>
              <ion-item>
                  <ion-input type="text" [(ngModel)]=" data.website" ></ion-input>
              </ion-item>
              <ion-item>     
                <button ion-button small  (click)="UserWebsite(data.website)" item-left>Update</button>
                      
             </ion-item>    
          </ion-list>
      </div>
    </div>            
</ion-content>
