<!--
  Generated template for the UserEventsBookmarkedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Events Bookmarked</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1 class="location">Bookmarked Events</h1>
    <ion-card>


        <!-- <ion-card *ngFor="let e of events "> -->
        <!-- <ion-card *ngFor="let e of events "> -->

        <!-- <div *ngFor="let img of eventsImages | async">
            <div *ngIf="e.EventId == val(img.id)">
                    <img  class="card-img-top" [src]="img.imageurl" alt="Card image cap">
            </div>         
        </div> -->
        <img src="https://cdn.pixabay.com/photo/2018/01/22/21/12/lion-3099986_960_720.jpg">

        <div  class="t"> 
            <h1 class="title">Ecuador</h1>
        </div>

        <ion-item> 
          <ion-icon name="calendar" item-start large></ion-icon>
          <h3>Date and Time</h3>
          <p>d</p>
        </ion-item>

        <ion-item>
          <ion-icon name="navigate" item-left large ></ion-icon>
          <h3>Location</h3>
          <p> d</p>
        </ion-item>

        <ion-item>
          <ion-list>
              <ion-item>
                  <!-- <button ion-button small  color="secondary" outline item-start icon-left >
                      <ion-icon name="eye"></ion-icon>
                    </button> -->
                    <button ion-button small color="primary" outline item-end icon-left >
                        <ion-icon name="information-circle"></ion-icon>
                      </button>

                <button ion-button small color="secondary"  (click)="getEventInfo(e)" outline item-end   icon-left>
                  <ion-icon name="paper"></ion-icon>
                 
                </button>

                <!-- <button ion-button small color="dark" outline item-end icon-left >
                    <ion-icon name="close"></ion-icon>
                  </button> -->
              </ion-item>  
            </ion-list>
        </ion-item>

    </ion-card>
</ion-content>
