page-user-event-files {
    .location{
        // font-size:40px;
        text-align: center
    }
    .title{
        color: black
    }

    .title h1{
        font-size: 1.1rem;
        
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 2.9rem;
        color: black
       /* font-family: 'Paytone One', sans-serif; */
    }

    .t{
        text-align: center;
        padding-top: 10px
    }

    
}
